html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.parallax{
    width: 100%;
    height: 60%;
    z-index: 0;
    position: relative;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 30%;
    text-align: right;
    padding-left: 0;
    user-select: none;
    color: #14641f;
    font-family: 'Pacifico', cursive;
}
.parallaxBack{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    z-index: 1;
    opacity: 0.1;
}
.parallax h1,h2,h3{
    background: rgb(235, 221, 160);
    background: linear-gradient(90deg, rgba(87,82,0,1) 25%, rgba(163,132,32,1) 75%, rgba(160,130,31,1) 83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    overflow: hidden;
    word-wrap: break-word;
    max-width: 50%;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .parallax h1{
        position: absolute;
        top: 35%;
        left:  7vw;
        transform: translate(0,-50%);
        text-transform: uppercase;
        font-size:3vw;
        font-weight: 900;
        letter-spacing: 2px;
        white-space: initial;
    }
    .parallax h2{
        position: absolute;
        top: 55%;
        left:  7vw;
        transform: translate(0,-50%);
        text-transform: uppercase;
        font-weight: 500;
        font-size:2.5vw;
        
    }
    .parallax h3{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 5px;
        font-family: 'Stint Ultra Condensed', cursive;
        font-size:4vw;
    }
    .filtreCAT, .filtreORD{
        font-size:13px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .parallax h1{
        position: absolute;
        top: 35%;
        left: 10vw;
        transform: translate(0,-50%);
        text-transform: uppercase;
        font-weight: 900;
        font-size:5vw;
    }
    .parallax h2{
        position: absolute;
        top: 55%;
        left: 10vw;
        transform: translate(0,-50%);
        text-transform: uppercase;
        font-weight: 500;
        font-size:4vw;
    }
    .parallax h3{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Stint Ultra Condensed', cursive;
        font-size:6vw;
    }
    .parallax{
        width: 100%;
        height: 40%;
    }
    .filtreCAT, .filtreORD{
        font-size:12px;
    }
}
@media screen and (min-width: 801px) {
    .parallax img{
        max-width: 250px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        right: 1vw;
        transform: translate(0,-50%);
    }
}
@media screen and (max-width: 800px){
    .parallax img{
        max-width: 30vw;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        right: 2vw;
        transform: translate(0,-50%);
    }
}
.parallax a{
    position: absolute;
    top: 90%;
    right: 0;
    transform: translate(-50%,-50%);
    color: rgb(197, 197, 197);
}
.parallax img{
    border: 2px solid rgba(123,130,140,255);
}





.filtreCAT, .filtreORD{
    display:  inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}
.filtre_form option{
    letter-spacing: 2px;
}
.filtre{
    background-color: rgb(248, 248, 248);
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 550;
    text-transform: uppercase;
}

.fa-level-up-alt{
    opacity: 0;
}
.fa-level-up-alt.scroll{
    opacity: 1;
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 32px;
    color: rgb(61, 110, 67);
    z-index: 2;
}

